<app-nav></app-nav>

<main class="cs-page-wrapper mt-5">

    <!-- Banners -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner" *ngIf="config_global.banners">

            <div class="" *ngFor="let item of config_global.banners; let indice = index">
                <div class="carousel-item" [ngClass]="{'active': indice == 0}" data-bs-interval="3000">
                    <img [src]="url + 'obtener_banner/' + item.imagen" alt="{{item.banners}}" class="d-block w-100"
                        alt="...">
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" style="background-color: #ffffff00; border: #fff;"
            data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>

        <button class="carousel-control-next" type="button" style="background-color: #ffffff00; border: #fff;"
            data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <!-- Categorías -->
    <section class="pt-3 relleno-card-categorias">

        <div class="row" *ngIf="load_categorias">
            <div class="col-12">
                <!-- Custom size border spinner -->
                <div class="text-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem" role="status"></div>
                    <h5 class="text-black-50"><small>Cargando...</small></h5>
                </div>
            </div>
        </div>

        <div class="container py-lg-4 pb-5" *ngIf="!load_categorias">
            <h1 class="text-center text-white my-0">Categorías</h1>
            <div class="row mt-2 justify-content-center">
                <div *ngFor="let item of config_global.categorias">
                    <!-- Category -->
                    <div class="card card-hover border-0 shadow m-2 pt-2"
                        style="cursor: pointer; background-color: #ffffff;"
                        [routerLink]="['/productos/categoria/', item.titulo.toLowerCase()]">
                        <div class="text-center">
                            <h2 class="card-title"><i class="{{item.icono}}"></i></h2>
                            <a class="btn">{{item.titulo}}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Productos nuevos -->
    <section class="container-fluid px-xl-grid-gutter mt-5 mb-3 mb-sm-4 mt-md-0 mb-lg-5 py-3">
        <div class="text-center mb-5 pb-2">
            <h2 class="h1">Productos nuevos</h2>
            <p class="font-size-lg text-muted mb-1">Explora los productos recién llegados a nuestra tienda</p>
            <a [routerLink]="['/productos']" class="font-size-lg">Ver productos nuevos</a>
        </div>

        <div class="row" *ngIf="load_nuevos">
            <div class="col-12">
                <!-- Custom size border spinner -->
                <div class="text-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem" role="status"></div>
                    <h5 class="text-black-50"><small>Cargando...</small></h5>
                </div>
            </div>
        </div>

        <!-- Product carousel -->
        <div class="cs-carousel cs-nav-outside" *ngIf="!load_nuevos">
            <div class="row pt-0 justify-content-center">
                <!-- Item -->
                <div *ngFor="let item of productos_nuevos">
                    <div class="card mx-4 mb-5 card-product rounded shadow card-hover">
                        <div class="card-product-img">
                            <a [routerLink]="['/productos/', item.slug]" class="card-img-top">
                                <img [src]="url + 'obtener_portada/' + item.portada" alt="{{item.titulo}}">
                            </a>
                            <div class="card-product-widgets-top">
                                <span class="badge product-badge badge-danger" *ngIf="descuento_activo">
                                    -{{descuento_activo.descuento}}%
                                </span>

                                <span class="badge product-badge badge-danger ml-2" *ngIf="item.descuento > 0">
                                    -{{item.descuento}}%
                                </span>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a [routerLink]="['/productos/', item.slug]" class="nav-link"> {{item.titulo}} </a>
                            </h3>
                            <div *ngIf="descuento_activo == undefined && item.descuento == undefined">
                                <span class="h5 d-inline-block mb-0 text-warning">S/. {{item.precio}}</span>
                            </div>

                            <div *ngIf="descuento_activo == undefined && item.descuento > 0">
                                <span class="h5 d-inline-block mb-0 text-danger">
                                    S/. {{item.precio}}
                                </span>
                                <del class="d-inline-block ml-1 text-muted"> <small>S/. {{item.precio +
                                        item.precio*item.descuento/100}}</small> </del>
                            </div>

                            <div *ngIf="descuento_activo != undefined" class="">
                                <span class="h5 d-inline-block mb-0 text-danger">
                                    S/. {{item.precio | descuento: descuento_activo.descuento}}
                                </span>
                                <del class="d-inline-block ml-3 text-muted">S/. {{item.precio}}</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Productos más vendidos -->
    <section class="py-3" style="background-color: #e5e8ed;">
        <div class="container my-lg-2 py-2 py-md-4">
            <div class="d-flex pb-sm-1 mb-2">
                <div class="mb-5 pb-2">
                    <h2 class="h2 text-center">Productos más vendidos</h2>
                    <p class="text-muted mb-1">Explora nuestros productos con mayor demanda</p>
                </div>
            </div>

            <div class="row" *ngIf="load_mas_vendidos">
                <div class="col-12">
                    <!-- Custom size border spinner -->
                    <div class="text-center">
                        <div class="spinner-border" style="width: 3rem; height: 3rem" role="status"></div>
                        <h5 class="text-black-50"><small>Cargando...</small></h5>
                    </div>
                </div>
            </div>

            <div class="pb-2" *ngIf="!load_mas_vendidos">
                <div class="row justify-content-center">
                    <!-- Item -->
                    <div *ngFor="let item of productos_mas_vendidos">
                        <div class="card card-hover card-product mx-4 shadow mb-5">
                            <div class="card-product-img">
                                <a [routerLink]="['/productos/', item.slug]" class="card-img-top">
                                    <img [src]="url + 'obtener_portada/' + item.portada" alt="{{item.titulo}}">
                                </a>
                                <div class="card-product-widgets-top">
                                    <span class="badge product-badge badge-danger" *ngIf="descuento_activo">
                                        -{{descuento_activo.descuento}}%
                                    </span>

                                    <span class="badge product-badge badge-danger ml-2" *ngIf="item.descuento > 0">
                                        -{{item.descuento}}%
                                    </span>
                                </div>
                            </div>
                            <div class="card-body bg-0 pb-2 text-center">
                                <h3 class="card-product-title text-truncate mb-2">
                                    <a [routerLink]="['/productos/', item.slug]" class="nav-link"> {{item.titulo}} </a>
                                </h3>
                                <div *ngIf="descuento_activo == undefined">
                                    <span class="h5 d-inline-block mb-0 text-warning">S/. {{item.precio}}</span>
                                </div>

                                <div *ngIf="descuento_activo != undefined" class="">
                                    <span class="h5 d-inline-block mb-0 text-danger">
                                        S/. {{item.precio | descuento: descuento_activo.descuento}}
                                    </span>
                                    <del class="d-inline-block ml-3 text-muted">S/. {{item.precio}}</del>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center pt-3">
                <a [routerLink]="['/productos']" class="btn btn-primary">Ver productos</a>
            </div>
        </div>
    </section>

    <!-- Promociones -->
    <section class="container-fluid px-xl-grid-gutter py-3 relleno-card" style="background-color: rgb(255, 231, 250);">
        <div class="text-center mb-3 pb-2">
            <h2 class="h1">Descuentos</h2>
            <p class="font-size-lg mb-1">Explora nuestros productos con descuento</p>
        </div>

        <div class="row" *ngIf="load_descuento">
            <div class="col-12">
                <!-- Custom size border spinner -->
                <div class="text-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem" role="status"></div>
                    <h5 class="text-black-50"><small>Cargando...</small></h5>
                </div>
            </div>
        </div>

        <div *ngIf="!load_descuento">
            <div class="row justify-content-center">
                <!-- Item -->
                <div *ngFor="let item of productos_descuento">
                    <div class="card card-product shadow card-hover mx-4 mb-5 text-center">
                        <div class="card-product-img">
                            <a [routerLink]="['/productos/', item.slug]" class="card-img-top">
                                <img [src]="url + 'obtener_portada/' + item.portada" alt="{{item.titulo}}">
                            </a>
                            <div class="card-product-widgets-top">
                                <span class="badge product-badge badge-danger" *ngIf="descuento_activo">
                                    -{{descuento_activo.descuento}}%
                                </span>

                                <span class="badge product-badge badge-danger ml-2" *ngIf="item.descuento > 0">
                                    -{{item.descuento}}%
                                </span>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a [routerLink]="['/productos/', item.slug]" class="nav-link"> {{item.titulo}} </a>
                            </h3>
                            <div *ngIf="descuento_activo == undefined && item.descuento == undefined">
                                <span class="h5 d-inline-block mb-0 text-warning">S/. {{item.precio}}</span>
                            </div>

                            <div *ngIf="descuento_activo == undefined && item.descuento > 0">
                                <span class="h4 d-inline-block mb-0 text-danger">
                                    S/. {{item.precio}}
                                </span>
                                <del class="d-inline-block ml-1 text-muted">S/. {{item.precio +
                                    item.precio*item.descuento/100 | number: '1.0-0'}} </del>
                            </div>

                            <div *ngIf="descuento_activo != undefined" class="">
                                <span class="h5 d-inline-block mb-0 text-danger">
                                    S/. {{item.precio | descuento: descuento_activo.descuento}}
                                </span>
                                <del class="d-inline-block ml-3 text-muted">S/. {{item.precio}}</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section class="container pt-3 pb-2 pb-sm-5">
        <h2 class="text-primary text-center">Te ofrecemos</h2>
        <div class="row py-1 justify-content-between">
            <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
                <img class="mb-4" src="../../assets/img/ecommerce/home/services/delivery.svg" width="48"
                    alt="Worldwide Shipping">
                <h5 class="h5 mb-2">Envío rápido</h5>
                <p class="mb-0 text-muted">A todo el perú, a través de empresas reconocidas</p>
            </div>
            <span class="divider-vertical d-sm-block d-none"></span>
            <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
                <img class="mb-4" src="../../assets/img/ecommerce/home/services/guarantee.svg" width="48"
                    alt="Customer Support">
                <h5 class="h5 mb-2">Devolución del pago</h5>
                <p class="mb-0 text-muted">Garantía de 7 días para el reembolzo</p>
            </div>
            <span class="divider-vertical d-sm-block d-none"></span>
            <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
                <img class="mb-4" src="../../assets/img/ecommerce/home/services/payment.svg" width="48"
                    alt="Customer Support">
                <h5 class="h5 mb-2">Pago online seguro</h5>
                <p class="mb-0 text-muted">Aceptamos todas las tarjetas y medios de pago</p>
            </div>
        </div>
    </section>

    <section class="">
        <div class="cs-carousel-inner cs-carousel-inner-five" data-carousel-options='{}'>
        </div>
    </section>
</main>
<app-footer></app-footer>